.ControlPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  &__label {
    color: #0050b3;
    margin-bottom: 4px;
  }
  &__select {
    width: 300px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
  }
}
